html, body{
    margin:0;
    padding: 0;
}
h1 , p{
    margin : 0;
}
a{
    color: inherit;
}
#main{
    background-image: 
    url(https://pixabay.com/get/g064c97b1ae1ba8ff997028af4b8c8cef9882af3d9569772b5591988f67f74658d5eedc02473ee2f3c8644c270c63e171_1920.jpg);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
#contents{
    color:white;

}
